@media screen and (max-width: 375px) {
	.banner .img__side-bar {
		width: 100%;
	}
	.banner .img__side-bar img {
		display: block;
		height: 40%;
	}

	section {
		padding: 20px;
	}

	section#preferences {
		padding: 20px;

		margin-top: 350px;
		margin-bottom: 50px;
	}

	section#banner .banner__content-box,
	.sidebar {
		width: 100%;
		padding: 20px;
	}

	.logo-text {
		position: absolute;
		top: 40px;
		left: 20px;
		font-size: 1.2em;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #333;
		color: #fff;
		padding: 0 5px;
	}

	.toggle {
		right: 20px;
	}

	.banner .banner__content-box h4 {
		font-size: 1.25em;
	}
	.banner .banner__content-box h4 span {
		font-size: 1.5em;
	}
	.banner .banner__content-box h2 {
		font-size: 2.8em;
	}

	p {
		font-size: 0.975;
		text-align: justify;
	}
	.banner .banner__content-box div {
		padding-top: 520px;
	}

	.icon__social-media {
		position: absolute;
		left: 20px;
		bottom: -320px;
	}

	.icon__social-media li {
		margin-right: 15px;
	}

	.icon__social-media i {
		font-size: 25px;
		color: rgb(95, 95, 95);
	}

	.swiper-slide {
		width: 300px;
	}

	.swiper-slide .card {
		height: 380px;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 20px;
	}

	.contact {
		padding: 0;
	}

	.title.title-white {
		padding: 20px;
		margin-top: 50px;
		height: 120px;
	}
	.contact .form__contact,
	.contact .contact__box {
		width: 100%;
		padding: 20px;
		margin: 10px;
	}

	.contact .contact__box .box {
		height: 120px;
	}

	.contact .form__contact .row,
	.contact .contact__box .row {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0;
	}

	.contact .form__contact .row .col-md-100,
	.contact .contact__box .row .col-md-100,
	.contact .form__contact .row .col-100 {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 375.01px) and (max-width: 425px) {
	.banner .img__side-bar {
		width: 100%;
	}
	.banner .img__side-bar img {
		display: block;
		height: 40%;
	}

	section {
		padding: 20px;
	}

	section#preferences {
		padding: 20px;

		margin-top: 300px;
		margin-bottom: 50px;
	}

	section#banner .banner__content-box,
	.sidebar {
		width: 100%;
		padding: 20px;
	}

	.logo-text {
		position: absolute;
		top: 40px;
		left: 20px;
		font-size: 1.2em;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #333;
		color: #fff;
		padding: 0 5px;
	}

	.toggle {
		right: 20px;
	}

	.banner .banner__content-box h4 {
		font-size: 1.25em;
	}
	.banner .banner__content-box h4 span {
		font-size: 1.5em;
	}
	.banner .banner__content-box h2 {
		font-size: 2.8em;
	}

	p {
		font-size: 0.975;
		text-align: justify;
	}
	.banner .banner__content-box div {
		position: relative;
		padding-top: 450px;
	}

	.icon__social-media {
		position: absolute;
		left: 20px;
		bottom: -250px;
	}

	.icon__social-media li {
		margin-right: 15px;
	}

	.icon__social-media i {
		font-size: 25px;
		color: rgb(95, 95, 95);
	}

	.swiper-slide {
		width: 300px;
	}

	.swiper-slide .card {
		height: 380px;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 20px;
	}

	.contact {
		padding: 0;
	}

	.title.title-white {
		padding: 20px;
		margin-top: 50px;
		height: 120px;
	}
	.contact .form__contact,
	.contact .contact__box {
		width: 100%;
		padding: 20px;
		margin: 10px;
	}

	.contact .contact__box .box {
		height: 120px;
	}

	.contact .form__contact .row,
	.contact .contact__box .row {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0;
	}

	.contact .form__contact .row .col-md-100,
	.contact .contact__box .row .col-md-100,
	.contact .form__contact .row .col-100 {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 426px) and (max-width: 768px) {
	.banner .img__side-bar {
		width: 100%;
	}
	.banner .img__side-bar img {
		display: block;
		height: 40%;
	}

	section {
		padding: 20px;
	}

	section#preferences {
		padding: 20px;

		margin-top: 200px;
		margin-bottom: 100px;
	}

	section#banner .banner__content-box,
	.sidebar {
		width: 100%;
		padding: 20px;
	}

	.logo-text {
		position: absolute;
		top: 40px;
		left: 20px;
		font-size: 1.2em;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #333;
		color: #fff;
		padding: 0 5px;
	}

	.toggle {
		right: 20px;
	}

	.banner .banner__content-box h4 {
		font-size: 1.25em;
	}
	.banner .banner__content-box h4 span {
		font-size: 1.5em;
	}
	.banner .banner__content-box h2 {
		font-size: 2.8em;
	}

	p {
		font-size: 0.975;
		text-align: justify;
	}
	.banner .banner__content-box div {
		position: relative;
		padding-top: 380px;
	}

	.icon__social-media {
		position: absolute;
		left: 20px;
		bottom: -150px;
	}

	.icon__social-media li {
		margin-right: 15px;
	}

	.icon__social-media i {
		font-size: 25px;
		color: rgb(95, 95, 95);
	}

	.swiper-slide {
		width: 300px;
	}

	.swiper-slide .card {
		height: 380px;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 20px;
	}

	.contact {
		padding: 0;
	}

	.title.title-white {
		padding: 20px;
		margin-top: 50px;
		height: 120px;
	}
	.contact .form__contact,
	.contact .contact__box {
		width: 100%;
		padding: 20px;
		margin: 10px;
	}

	.contact .contact__box .box {
		height: 120px;
	}

	.contact .form__contact .row,
	.contact .contact__box .row {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0;
	}

	.contact .form__contact .row .col-md-100,
	.contact .contact__box .row .col-md-100,
	.contact .form__contact .row .col-100 {
		width: 100%;
		margin-bottom: 10px;
	}
}
